DOCKER_NETWORK_PREFIX='server-live' # Must be the name of the folder
VPN_DOMAIN='vpn.example.org'
VPN_ENDPOINT='vpn.example.org'
VPN_GUI_PASSWORD='adminsecret'
TRAEFIK_ACME_EMAIL='acme@example.org'
TRAEFIK_CF_API_TOKEN='secret'
BELAUI_REMOTE_DOMAIN='remote.example.org'
MIST_DOMAIN='live.example.org'
MUMBLE_ADMIN_PASSWORD='longasspassword'
MUMBLE_USER_PASSWORD='shortasspassword'
OVERLAYER_STREAMS_0_SRC='srt://mist:9000?streamid=0'
OVERLAYER_STREAMS_0_DST='srt://mist:8889?streamid=0'
OVERLAYER_STREAMS_1_SRC='srt://mist:9000?streamid=1'
OVERLAYER_STREAMS_1_DST='srt://mist:8889?streamid=1'
OVERLAYER_STREAMS_2_SRC='srt://mist:9000?streamid=2'
OVERLAYER_STREAMS_2_DST='srt://mist:8889?streamid=2'
OVERLAYER_STREAMS_3_SRC='srt://mist:9000?streamid=3'
OVERLAYER_STREAMS_3_DST='srt://mist:8889?streamid=3'
OVERLAYER_STREAMS_4_SRC='srt://mist:9000?streamid=4'
OVERLAYER_STREAMS_4_DST='srt://mist:8889?streamid=4'
GRAPHIX_DOMAIN='graphix.example.org'
GRAPHIX_GRAPHICS_PATH=''
STREAMECHO_STREAM_URL='srt://mist:9000?streamid=obs'
STREAMECHO_MUMBLE_CHANNEL=''
STREAMECHO_LOCKED_MUMBLE_CHANNEL=''
STREAMECHO_AUDIO_CIRCUIT_MUMBLE_CHANNEL=''
